<section id="one" class="wrapper style2 spotlights">
	{% for project in site.projects limit:3 %}
		<section>
			<a href="{{site.baseurl}}{{project.pathname}} class="image">
				<img src="images/pic01.jpg" alt="" data-position="center center"
			</a>
			<div class="content">
				<div class="inner">
					<h2>{{project.title}}/h2>
					<p>{{project.description}}</p>
					<ul class="actions">
						<li><a href="{{site.baseurl}}thelayover" class="button">Learn more</a></li>
					</ul>
				</div>
			</div>
		</section>
	{% endfor %}
</section>
